#preco {
    display: block;
    margin-right: -15px;
    margin-left: auto;
    margin-top: -20px;
    width: 69px;
}

.itemLista {
    width: 100%;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

#zera {
    width: 65px !important;
    margin-right: 10px;
}
#adiciona {
    display: inline-block;
    width: calc(100% - 85px) !important;
    padding: 0;
    
}